extends layout

block content
  h1 Hi!

  table.table.table-striped
    thead
      tr
        th Site
        th Rating
    tbody
      if sites
        each site in sites
          tr
            td= site.url
            td= site.rating