extends layout

block content
  h1 Hi!

  table.table.table-striped
    thead
      tr
        th Site
        th Rating
    tbody
      if sites
        each site in sites
          tr
            td= site.url
            td= site.rating
  if !auth	  
    a(href='http://localhost:3000/steam/authenticate')
      img(src='/images/steam.jpg')
  else
    h1
      = "You logged in as " + nickname
    img(src=avatar, alt='steamavatar')